<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda, totam atque distinctio neque, quisquam laboriosam rerum nostrum modi officiis, tempore blanditiis suscipit ratione consequatur? Quisquam, vitae. Dolorem, dicta fugit.
            </p>
        </ul>
    </div>
</div>
